## Float to Int

In [1]:
a = 1.25

In [2]:
print(type(a))
print(a)

<class 'float'>
1.25

In [3]:
a = int(1.25)

In [4]:
print(type(a))
print(a)

<class 'int'>
1

## String to float

In [5]:
a = ("9")

In [6]:
print(type(a))
print(a)

<class 'str'>
9

In [7]:
print(a+1) # not possible because still string

TypeError: can only concatenate str (not "int") to str

In [8]:
a = int("9")

In [9]:
print(type(a))
print(a+1)

<class 'int'>
10

## Float to string

In [10]:
a = 9.5

In [11]:
print(type(a))
print(a)

<class 'float'>
9.5

In [14]:
a = str(9)

In [15]:
print(type(a))
print(a +" is a number string")

<class 'str'>
9 is a number string