# Dictionary

- Store multiple values in Key Value pairs

In [4]:
car = {"Brand":"Honda",
       "Model":"Amaze",
       "Price":90000,
       "Milage":32}

In [5]:
print(car)

{'Brand': 'Honda', 'Model': 'Amaze', 'Price': 90000, 'Milage': 32}

In [6]:
print(type(car))

<class 'dict'>

## Get the Values of Key

In [7]:
print(car.get("Price"))

90000

In [8]:
print(car['Model'])

Amaze

## Printing All the Keys

In [9]:
print(car.keys())

dict_keys(['Brand', 'Model', 'Price', 'Milage'])

## Printing All Values

In [10]:
print(car.values())

dict_values(['Honda', 'Amaze', 90000, 32])

## Updating Values

In [11]:
car['Price'] = 100000

In [12]:
print(car)

{'Brand': 'Honda', 'Model': 'Amaze', 'Price': 100000, 'Milage': 32}

## Adding new Values

In [14]:
car['Color'] = 'Black'

In [15]:
print(car)

{'Brand': 'Honda', 'Model': 'Amaze', 'Price': 100000, 'Milage': 32, 'Color': 'Black'}

## For Loops with Dictionary

In [16]:
for i in car:
    print(i)

Brand
Model
Price
Milage
Color

In [17]:
for i in car.keys():
    print(i)

Brand
Model
Price
Milage
Color

In [18]:
for i in car.values():
    print(i)

Honda
Amaze
100000
32
Black

## Keys and Values Loops

In [21]:
for i in car.keys():
    print(i, car.get(i))

Brand Honda
Model Amaze
Price 100000
Milage 32
Color Black

In [23]:
for i in car.keys():
    print(i, car[i])

Brand Honda
Model Amaze
Price 100000
Milage 32
Color Black

In [24]:
for k,v in car.items():
    print(k,v)

Brand Honda
Model Amaze
Price 100000
Milage 32
Color Black

## Removing Item with Dict

In [25]:
car = {"Brand":"Honda",
       "Model":"Amaze",
       "Price":90000,
       "Milage":32}

In [26]:
car.pop("Model")

'Amaze'

In [27]:
print(car)

{'Brand': 'Honda', 'Price': 90000, 'Milage': 32}

In [28]:
del car['Price']

In [29]:
print(car)

{'Brand': 'Honda', 'Milage': 32}

## Removing Last Item with Dict

In [30]:
car = {"Brand":"Honda",
       "Model":"Amaze",
       "Price":90000,
       "Milage":32}

In [31]:
car.popitem()

('Milage', 32)

In [32]:
print(car)

{'Brand': 'Honda', 'Model': 'Amaze', 'Price': 90000}

## Remove All Key, Values from Dict

In [33]:
car.clear()

In [34]:
print(car)

{}

## Finding the Size of Dictionary

In [35]:
car = {"Brand":"Honda",
       "Model":"Amaze",
       "Price":90000,
       "Milage":32}

In [37]:
len(car)

4

In [38]:
# delete dictionary
del car

In [39]:
print(car)

NameError: name 'car' is not defined

## Compare Dictionary

In [40]:
car1 = {"Brand":"Honda",
       "Model":"Amaze",
       "Price":90000,
       "Milage":32}

In [41]:
car2 = {"Brand":"Honda",
       "Model":"Amaze",
       "Price":90000,
       "Milage":32}

In [42]:
print(car1==car2)

True

In [43]:
car2 = {"Brand":"Honda",
       "Model":"Amaze",
       "Milage":32}

In [44]:
print(car1==car2)

False